.border{
	border:1px solid rgb(190,190,190);
}

.alignment{
	margin:10px;
	padding:10px;
}

.shadow{
	box-shadow: 10px 10px lightgrey;
}

body{
	width:400px;
}
span{
	font-weight:bold;
}
li{
	list-style-type: none;
	text-align: left;
}

h3{
	font-size:20pt;
}