
body{
	width:320px; /*changed*/
}

span{
	font-weight:bold;
}

li{
	list-style-type: none;
	text-align: left;
}

ul{
	padding-left: 0;
}

h3{
	font-size:20pt;
}

img{
	width:300px;
}

.border{
	border:1px solid rgb(190,190,190);
}

.alignment{
	margin:10px 0;
	padding:10px;
}

.shadow{
	box-shadow: 10px 10px lightgrey;
}

.interestingFact{
	font-style: italic;
}